# Белый список: по умолчанию игнорируем всё,
# затем точечно разрешаем только те файлы, которые публикуются на GitHub.

# 1. Игнорируем всё
*

# 2. Разрешаем публикуемые файлы
!sr_domains.list
!sr.conf
!README.md

# 3. Сам .gitignore тоже нужен в репозитории
!.gitignore
